.everyPageMainHeroSection {
    height: 100vh;
    background-image: url("../../../public//Imgs/Untitled-1_0015_background.png");
    background-position: center;
    background-size: cover;
    z-index: 3;
    overflow: hidden;
}
.everyPageMainLayer {
    z-index: -1;
    height: 100vh;
    width: 100vw;
    object-fit: cover;
}
.everyPageMainCenterImage {
    height: 400px;
    left: 50%;
    width: 30px;
    top: 20%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}
.everyPageMainText {
    padding-left: 85px !important;
}
.everyPageMainHeroSectionHeading {
    font-size: 35px;
    padding: 8px 25px;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    background-color: #151540;
    color: #906037;
    width: fit-content;
    position: relative;
}
.everyPageMainHeroSectionHeading::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -10px;
    width: 100%;
    height: 1.5px;
    background-color: #906037;
    z-index: 2;
}
.everyPageMainText p {
    font-size: 20px;
    color: #151540;
    font-weight: 500;
    line-height: 1.86;
    padding-inline: 10px;
    direction: rtl;
}