.sectionLeftImg ,
.sectionRightImg {
    padding: 60px 0 40px;
    background-color: #eee;
}
.branchHeading {
    font-weight: bolder;
    font-size: 35px;
    color: #906037;
    direction: rtl;
}
.branchText {
    color: #183437;
    line-height: 1.86;
    font-size: 18px;
    font-weight: 500;
    direction: rtl
}
@media  (max-width: 1024px) {
    .branchHeading {
        font-size: 30px;
    }
    .branchText {
        font-size: 17px;
    }
}
@media (max-width: 768px) {
    .branchImage ,
    .branchTextContainer {
        width: 100% !important;
    }
    .branchImage {
        display: flex;
        justify-content: center;
        order: -1 !important;
    }
    .branchImage img {
        max-width: 500px !important;
    }
}
@media (max-width: 650px) {
    .branchHeading {
        font-size: 25px;
    }
    .branchText {
        font-size: 16px;
    }
}