.ourVisionSec {
    min-height: 90vh;
    padding: 100px 0 60px;
    background-image: url("../../../public/Imgs/photo/Untitled-1_04.png");
    background-size: cover;
    background-position: center;
}
.ourVisionLeftImg {
    left: 50px;
    bottom: 0;
    height: 450px;
    width: 290px;
    z-index: 2;
}
@media (max-width: 1024px) {
    .ourVisionSec {
        min-height: 500px !important;
    }
}