.copyWriteSec {
    border-top: 1px solid #906037;
    padding: 15px 0;
}
.copyWriteSec p {
    direction: rtl;
}
.copyWriteLink {
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}
.copyWriteLink:hover {
    color: #906037 !important;
}