.heroSection {
    width: 100%;
    height: 100vh;
    background-image: url("../../../public/Imgs/sec_1/background_for_sec_1.png");
    background-position: center;
    background-size: cover;
    position: relative;
    z-index: 1;
    overflow: hidden;
    background-color: #e8e4e4;
}
@media (max-width: 1024px) {
    .heroSection {
        height: 650px !important;
    }
}
.upperLeftImg {
    left: 0;
    top: 0;
    width: 200px;
}
.bottomLeftImg {
    left: -10px;
    top: 35%;
    width: 500px;
    height: 480px !important;
    object-fit: contain;
}
.centerBottomImg {
    left: 46%;
    bottom: 10%;
    transform: translateX(-10%);
    width: 150px;
    -webkit-transform: translateX(-10%);
    -moz-transform: translateX(-10%);
    -ms-transform: translateX(-10%);
    -o-transform: translateX(-10%);
}
.centerTopImg {
    left: 45%;
    top: 110px;
    width: 200px;
    transform: translateX(-15%);
    -webkit-transform: translateX(-15%);
    -moz-transform: translateX(-15%);
    -ms-transform: translateX(-15%);
    -o-transform: translateX(-15%);
}
.heroSectionText {
    transform: translateY(140px);
    font-size: 50px;
    color: #151540;
    -webkit-transform: translateY(140px);
    -moz-transform: translateY(140px);
    -ms-transform: translateY(140px);
    -o-transform: translateY(140px);
    font-weight: bolder;
    position: relative;
    z-index: 100;
}
.heroSectionContainer {
    transform: translateY(-140px) !important;
    -webkit-transform: translateY(-140px) !important;
    -moz-transform: translateY(-140px) !important;
    -ms-transform: translateY(-140px) !important;
    -o-transform: translateY(-140px) !important;
}
.heroSectionColumn {
    padding-left: 0 !important;
    padding-right: 0 !important;
    text-align: end;
}
.heroSectionColumn .mainImg {
    height: 120%;
    width: 90% !important;
}
@media (max-width: 1024px) {
    .heroSectionColumn .mainImg {
        width: 120% !important;
    }
}
.heroSectionColumnCenterimage {
    left: 38%;
    bottom: -20%;
    width: 270px;
    height: 520px;
}
.heroSectionColumnLeftImage {
    left: -22%;
    bottom: -15%;
    width: 300px;
}
.heroSectionColumnSLider {
    transform: translateY(300px);
    -webkit-transform: translateY(300px);
    -moz-transform: translateY(300px);
    -ms-transform: translateY(300px);
    -o-transform: translateY(300px);
}
.heroSectionColumnSLider h2 {
    font-size: 40px;
    font-weight: bold;
    margin: 20px 0;
    color: #906037;
    padding-right: 20px;
}
.heroSectionColumnSLider p {
    margin-left: 50px;
    padding-right: 20px;
    font-size: 20px;
    font-weight: 600;
    color: #183437;
    line-height: 1.86;
}
@media (max-width: 991px) {
    .centerBottomImg {
        display: none !important;
    }
    .heroSectionColumn .mainImg {
        width: 35% !important;
        height: 700px;
        position: absolute;
        top: -200px;
        right: 0;
        z-index: -1;
    }
    .spacingColumn ,
    .heroSectionColumnCenterimage {
        display: none;
    }
    .heroSectionColumnSLider h2 {
        font-size: 35px;
    }
    .bottomLeftImg {
        width: 400px !important;
        height: 450px !important;
    }
}
@media (max-width: 850px) {
    .heroSectionColumn .mainImg {
        top: -240px;
        right: -50px;
        width: 40% !important;
    }
}
@media (max-width: 768px) {
    .heroSectionText {
        font-size: 40px;
    }
    .centerTopImg {
        width: 170px;
    }
    .heroSection {
        max-height: 550px;
    }
    .heroSectionColumn .mainImg {
        display: none !important;
    }
    .heroSectionColumnSLider {
        width: 100% !important;
        padding: 0 50px !important;
    }
}
@media (max-width: 650px) {
    .heroSectionRightColumn {
        display: none !important;
    }
}
@media (max-width: 470px) {
    .bottomLeftImg {
        width: 250px !important;
        height: 300px !important;
        top: 50%;
    } 
}