.contactForm {
    background-image: url("../../../public/Imgs/Untitled-1_0014_Layer-2.png");
    background-position: center;
    background-size: cover;
    padding: 60px 0;
    background-color: #eee;
}
.contactForm__form {
    background-color: #74a1f579;
    padding: 30px 20px !important;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    box-shadow: 0px 0px 20px 0px #b7b3af;
}
.contactForm__heading {
    font-size: 40px;
    font-weight: bolder;
    text-align: center;
    margin-bottom: 20px;
    color: #151540;
}
.contactForm form input:focus ,
.contactForm form input:focus-visible ,
.contactForm form textarea:focus ,
.contactForm form textarea:focus-visible {
    border-color: #ddd;
    box-shadow: 0px 0px 1px 0px #a7a4a2;
    color: #151540;
}
.contactForm__form form input::placeholder,
.contactForm__form form textarea::placeholder {
    color: #151540;
}
.contact__mainSec__form__submitBtn {
    padding: 12px 50px !important;
    color: #151540 !important;
    background-color: #fff !important;
    font-size: 20px !important;
    font-weight: bolder !important;
    border-color: #151540 !important;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}
.contact__mainSec__form__submitBtn:hover {
    background-color: #151540 !important;
    color: #fff !important;
}
.contactForm__form form textarea {
    min-height: 120px;
}
.input-error {
    border-color: #ff2020 !important;
}
@media (max-width: 768px){
    .contactForm__heading {
        font-size: 30px;
    }
}