.myFooter {
    background-image: url("../../../public/Imgs/contact/Contact\ par.png");
    background-position: center;
    background-size: cover;
    padding: 30px 0 0;
}
.myFooterColumn {
    direction: rtl;
}
.myFooterColumn h3 {
    color: #906037;
    font-size: 30px;
    font-weight: bolder;
}
.myFooterColumn ul li {
    padding: 8px 0;
}
.myFooterColumn ul li a {
    font-size: 18px;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}
.footerEmail a {
    padding: 0 !important;
}
.myFooterColumn ul li a:hover {
    padding-right: 5px;
}
.footerSocialLinks a:hover {
    color: #906037;
    padding: 0 !important;
}
.footerSocialLinks a i {
    font-size: 20px;
}
@media (max-width: 600px) {
    .myFooterColumn h3 {
        font-size: 28px;
    }
    .myFooterColumn ul li a {
        font-size: 17px;
    }
}
@media (max-width: 450px) {
    .myFooterColumn ul li a {
        font-size: 16px;
    }
}