.ourMessage {
    padding: 100px 0 60px;
    min-height: 90vh;
    background-color: #f6f7f7;
}
.ourMessageLeftImg {
    left: 0;
    top: 0px;
    height: 100%;
    width: 400px;
    z-index: 0;
}
.ourMessageRightImg{
    right: 0px;
    top: -80px;
    width: 250px;
    z-index: 0;
}
.ourMessageRightbottomImg {
    right: 40px;
    bottom: 30px;
    width: 200px;
    height: 300px;
    z-index: 0;
}
.ourTextContainer {
    position: relative;
    z-index: 1;
}
@media (max-width: 1024px) {
    .ourMessage {
        min-height: 500px !important;
    }
}
@media (max-width: 768px) {
    .ourMessageRightImg {
        width: 180px;
        top: -60px;
    }
}