.myNavBar {
    background-color: transparent !important;
    padding: 0 !important;
    position: relative;
    z-index: 100;
}
.navList {
    direction: rtl !important;
}
.navList .nav-link {
    font-size: 21px;
    padding-inline: 20px !important;
    padding-block: 30px !important;
    font-family: 'Tajawal', sans-serif;
    color: #151540;
    font-weight: 800;
    cursor: pointer;
}
.navList .nav-link i {
    color: #906037;
}
.innerContent {
    position: relative;
}
.myNavCollapse {
    height: 107px !important;
}
.innerContent .innerList {
    visibility: hidden;
    position: absolute;
    left: -30%;
    top: 95%;
    z-index: 10;
    max-width: 300px;
    text-align: start;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    opacity: 0;
    background-color: #eee;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    padding-inline: 25px;
    padding-block-start: 10px !important;
}
.innerContent:hover .innerList {
    visibility: visible;
    top: 75%;
    opacity: 1;
}
.innerContent .innerList li {
    padding-block: 5px !important;
    padding-inline: 0 !important;
}
.innerContent .innerList li .nav-link {
    font-size: 18px;
    padding-inline: 0 !important;
    padding-block: 5px !important;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}
.innerContent .innerList li:hover .nav-link {
    padding-inline-start: 7px !important;
    color: #906037;
}
.navImg img {
    max-width: 70px;
}
.navbar-toggler:focus ,
.btn-close:focus {
    box-shadow: 0px 0px 10px 2px #906037 !important;
}
.offcanvas-title {
    color: #151540 !important;
    font-size: 35px;
    font-weight: 700;
}
.offcanvas {
    background-color: #f9f6f8 !important;
}
.offcanvas-backdrop.show {
    opacity: 0.8 !important;
}
.innerContentDropDown {
    display: none;
}
@media (max-width: 991px) {
    .innerContentDropDown {
        display: block;
    }
    .innerContent {
        display: none !important;
    }
    .dropdown-toggle::after {
        display: none !important;
    }
    .dropdown-toggle {
        border: none !important;
        background-color: transparent !important;
    }
    .dropdown-menu {
        background-color: #eee !important;
        border: none !important;
        margin-top: 0 !important;
        border-radius: 20px !important;
        -webkit-border-radius: 20px !important;
        -moz-border-radius: 20px !important;
        -ms-border-radius: 20px !important;
        -o-border-radius: 20px !important;
        margin-block: 20px;
    }
    .navList .nav-link {
        padding: 20px 10px !important;
    }
    .navList .dropdown-menu .nav-link {
        padding: 10px 20px !important;
    }
}