.container {
  max-width: 95% !important;
}
.headSec {
  direction: rtl;
  color: #906037;
  font-size: 55px;
  padding-right: 70px;
  font-weight: bolder;
  margin: 0 0 20px;
}
.sectionText {
  padding-right: 75px;
  color: #183437;
  font-size: 18px;
  line-height: 1.68;
  font-weight: 600;
  direction: rtl;
  padding-left: 50px !important;
}
.phoneNum {
  direction: rtl !important;
}
.loaderContainer {
  width: 100vw;
  height: 100vh;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 99999;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
}
.loader {
  width: 55px;
  height: 55px;
  margin: auto;
  position: relative;
}
.loader:before {
  content: '';
  width: 55px;
  height: 5px;
  background: #999;
  position: absolute;
  top: 67px;
  left: 0;
  border-radius: 50%;
  animation: shadow324 0.5s linear infinite;
  -webkit-animation: shadow324 0.5s linear infinite;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.loader:after {
  content: '';
  width: 100%;
  height: 100%;
  background: #906037;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 4px;
  animation: jump7456 0.5s linear infinite;
  -webkit-animation: jump7456 0.5s linear infinite;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}
/* Hide Arrows From Number Input */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
@keyframes jump7456 {
  15% {
    border-bottom-right-radius: 3px;
  }
  25% {
    transform: translateY(9px) rotate(22.5deg);
    -webkit-transform: translateY(9px) rotate(22.5deg);
    -moz-transform: translateY(9px) rotate(22.5deg);
    -ms-transform: translateY(9px) rotate(22.5deg);
    -o-transform: translateY(9px) rotate(22.5deg);
}
  50% {
    transform: translateY(18px) scale(1, .9) rotate(45deg);
    border-bottom-right-radius: 40px;
    -webkit-transform: translateY(18px) scale(1, .9) rotate(45deg);
    -moz-transform: translateY(18px) scale(1, .9) rotate(45deg);
    -ms-transform: translateY(18px) scale(1, .9) rotate(45deg);
    -o-transform: translateY(18px) scale(1, .9) rotate(45deg);
}
  75% {
    transform: translateY(9px) rotate(67.5deg);
    -webkit-transform: translateY(9px) rotate(67.5deg);
    -moz-transform: translateY(9px) rotate(67.5deg);
    -ms-transform: translateY(9px) rotate(67.5deg);
    -o-transform: translateY(9px) rotate(67.5deg);
}
  100% {
    transform: translateY(0) rotate(90deg);
    -webkit-transform: translateY(0) rotate(90deg);
    -moz-transform: translateY(0) rotate(90deg);
    -ms-transform: translateY(0) rotate(90deg);
    -o-transform: translateY(0) rotate(90deg);
}
}
@keyframes shadow324 {
  0%,100% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1.2, 1);
  }
}
@media (max-width: 1024px) {
  .ourMessageLeftImg {
    width: 350px !important;
  }
  .ourVisionLeftImg {
    width: 250px !important;
  }
  .everyPageMainCenterImage  {
    display: none !important;
  }
}
@media (max-width: 991px) {
  .headSec {
    padding-right: 0;
  }
  .sectionText {
    padding-right: 20px;
  }
  .ourMessageRightbottomImg {
    display: none;
  }
  .ourMessageLeftImg {
    max-height: 500px !important;
    z-index: -1;
    max-width: 300px !important;
  }
  .ourVisionLeftImg {
    max-height: 400px !important;
    max-width: 200px !important;
  }
  .everyPageMainRightImage {
    display: none !important;
  }
  .everyPageMainHeroSection .everyPageMainText {
    transform: translateY(70%);
    -webkit-transform: translateY(70%);
    -moz-transform: translateY(70%);
    -ms-transform: translateY(70%);
    -o-transform: translateY(70%);
  }
}
@media (max-width: 768px) {
  .everyPageMainHeroSection .everyPageMainText {
    padding-inline: 10px !important
  }
  .ourMessageLeftImg {
    display: none;
  }
  .ourVisionLeftImg {
    display: none;
  }
  .ourTextContainer .ourTextContent {
    width: 100% !important;
  }
  .sectionText {
    padding-left: 0 !important;
    font-size: 17px;
    line-height: 1.5;
    margin-left: 0 !important;
  }
  .headSec {
    font-size: 40px;
  }
  .ourMessage ,
  .ourVisionSec {
    padding: 70px 0 50px !important;
  }
  .everyPageMainHeroSectionHeading {
    font-size: 30px !important;
  }
}
@media (max-width: 470px) {
  .everyPageMainHeroSection .everyPageMainText h1 {
    font-size: 28px !important;
  }
  .everyPageMainHeroSection .everyPageMainText p {
    font-size: 17px !important;
  }
  .sectionText {
    font-size: 16px;
    padding: 0 !important;
  }
  .heroSectionText {
    font-size: 35px !important;
  }
  .heroSectionColumnSLider h2 {
    font-size: 28px !important;
  }
  .heroSectionColumnSLider p {
    font-size: 17px !important;
    line-height: 1.7 !important;
  }
  .headSec {
    font-size: 35px;
  }
  .centerTopImg {
    left: 49% !important;
    transform: translateX(-45%) !important;
    -webkit-transform: translateX(-45%) !important;
    -moz-transform: translateX(-45%) !important;
    -ms-transform: translateX(-45%) !important;
    -o-transform: translateX(-45%) !important;
  }
}
