:root {
    --main-font-family: 'Tajawal', sans-serif;
    --main-color: #151540;
}
img {
    width: 100%;
}
body {
    font-family: var(--main-font-family);
    color: var(--main-color);
    font-weight: 600;
}
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}