.floatedPhone {
    text-decoration: none;
    right: 30px;
    bottom: 30px;
    background-color: #ff2020;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    z-index: 150;
    display: flex;
    justify-content: center;
    align-items: center;
}
.floatedPhone:hover {
    background-color: #183437;
}
.floatedPhone i {
    font-size: 25px;
    color: #fff;
}
.floatedWatsApp {
    bottom: 100px;
    background-color: rgb(3, 204, 3);
}
.floatedWatsApp i {
    font-size: 30px;
}
@media (max-width: 768px) {
    .floatedPhone {
        right: 20px;
        bottom: 15px;
        width: 50px;
        height: 50px;
    }
    .floatedWatsApp {
        bottom: 80px;
    }
}