.topComponent {
    height: 60px;
}
.topComponentCenterLine {
    top: 30%;
    left: 0;
    width: 100%;
    height: 5px;
    transform: translateY(-30%);
    -webkit-transform: translateY(-30%);
    -moz-transform: translateY(-30%);
    -ms-transform: translateY(-30%);
    -o-transform: translateY(-30%);
}
.topComponentPageName {
    top: 40%;
    left: 60px;
    transform: translateY(-30%);
    -webkit-transform: translateY(-30%);
    -moz-transform: translateY(-30%);
    -ms-transform: translateY(-30%);
    -o-transform: translateY(-30%);
}
.topComponentPageName p {
    font-size: 28px;
    letter-spacing: 3.5px;
    color: #906037;
    text-transform: uppercase;
    font-weight: bold;
}
@media (max-width: 1100px) {
    .topComponentPageName {
        left: 33px;
        top: 43%;
    }
    .topComponentPageName p {
        font-size: 23px;
    }
}
@media (max-width: 991px) {
    .topComponentPageName {
        left: 24px;
    }
    .topComponentPageName p {
        font-size: 21px;
    }
}
@media (max-width: 870px) {
    .topComponentPageName {
        top: 50%;
    }
    .topComponentPageName p {
        font-size: 18px;
    }
}
@media (max-width: 768px) {
    .topComponentPageName p {
        font-size: 16px;
    }
}
@media (max-width: 600px) {
    .topComponentPageName {
        left: 17px;
        top: 52%;
    }
    .topComponentPageName p {
        font-size: 13px;
        letter-spacing: 1.5px;
    }
}
@media (max-width: 480px) {
    .topComponentPageName {
        left: 12px;
        top: 54%;
    }
    .topComponentPageName p {
        font-size: 11px;
        letter-spacing: 1px;
    }
}
@media (max-width: 410px) {
    .topComponentPageName {
        left: 10px;
    }
    .topComponentPageName p {
        font-size: 10px;
        letter-spacing: 0.6px;
    }
}
@media (max-width: 340px) {
    .topComponentPageName {
        left: 7px;
        top: 55%;
    }
    .topComponentPageName p {
        font-size: 8px;
        letter-spacing: 0.4px;
    }
}