.about__ImageHeroSection .mainImg {
    border-radius: 100% 0 0 100%;
    -webkit-border-radius: 100% 0 0 100%;
    -moz-border-radius: 100% 0 0 100%;
    -ms-border-radius: 100% 0 0 100%;
    -o-border-radius: 100% 0 0 100%;
    height: 135% !important;
    padding-left: 30px !important;
    position: relative;
    z-index: -1;
    filter: grayscale(25%);
    -webkit-filter: grayscale(25%);
}
@media (max-width: 1024px) {
    .about__ImageHeroSection .mainImg {
        height: 140% !important;
    }
}
@media (max-width: 991px) {
    .about__ImageHeroSection .mainImg {
        height: 155% !important;
    }
}
@media (max-width: 850px) {
    .about__ImageHeroSection .mainImg {
        height: 165% !important;
        top: -220px !important;
    }
}
@media (max-width: 768px) {
    .about__ImageHeroSection .mainImg {
        height: 195% !important;
        top: -210px !important;
    }
}