.error__page-section {
    position: fixed;
    z-index: 10000000;
    background-color: #eee;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #906037;
    height: 100vh;
    width: 100vw;
}

.error__page-section h1 {
    font-size: 70px;
    margin-bottom: 20px;
}
.error__page-section p {
    font-size: 25px;
    font-weight: 500;
}